* {
  cursor: url(./picasso_head_128px.png), url(./picasso_head.png),pointer;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-container {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  background-color: rgb(226, 225, 158);
  z-index: -10;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.squares {
  display:flex;
  flex-wrap: wrap;
  width: 30%;
}

.goetheTriangle{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 300px;
  z-index: 3
}
.goetheTriangle>div{
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.goetheUp{
  display: flex;
  width: 0;
  height: 0;
  flex-wrap: nowrap;
  flex-direction: row;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid blue;
  /* color to be from IDs */
}

.goetheDown{
  width: 0;
  height: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid rgb(255, 0, 0);
  /* color to be from IDs */
}

#gT1:nth-child(1) {
  opacity: .9;
}
#gT1:nth-child(2) {
  opacity: .6;
}
#gT1:nth-child(3) {
  opacity: .3;
}
/* .top80 {
  display: flex;
  z-index: -9;
  height: 80%;
  width: 100%;
  background-color: aqua;
}

.bottom20 {
  display: flex;
  z-index: -9;
  height: 20%;
  width: 100%;
  justify-content: baseline;
  background-color: darkmagenta;
} */

#z-2 {
  z-index: -2;
  right: 10cm;
}


.flexy{
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  background-color: rgb(41, 165, 41);
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 25%;
  font-size: larger;
  color: white;
}

.flexy:hover {
  opacity: .5;
}

.triangle {
  display: flex;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 400px solid green;

}

.circle {
  position:sticky;
  height: 50px;
  width: 50px;
  background-color: #ff0000;
  border-radius: 50%;
  z-index: 5;
  left: 5cm;
}

form {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

lable {
  margin: .5em;
}

#email-list-form {
  display: flex;
  margin-inline-end: 100px 20px 0px 20px;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 60%),
  linear-gradient(127deg, rgba(225, 255, 0, 0.8), rgba(0,255,0,0) 60%),
  linear-gradient(239deg, rgba(0,0,255,.8), rgba(0,0,255,0) 60%);
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  padding: 1cm;
  position: absolute;
  bottom: 0;
}

input[type=submit] {
  color: black;
  font-size: medium;
  padding: .5em;
  background-color: rgb(196, 196, 196);
  border: 3px groove gray;
  margin: 5px;
}

/* input[type=text]:active {
}  */

input[type=submit]:hover {
  background-color: lawngreen;
}

@media screen and (max-width: 900px){
  .flex-container{
    display: flex;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  }
}

@media screen and (max-width: 600px){
  .flex-container{
    display: flex;
    background-image: unset;
    background-color: black;
    color: greenyellow;
  }
  .flexy {
    width: 1em;
    height: 1em;
    color: black;
    border: 1px rgba(225, 255, 0, 0.8) solid;
  }
  * {
    background-color: black !important;
    color: greenyellow;
  }

  #email-list-form {
    background: none;
  }
  input[type=submit] {
    color: black;
    font-size: medium;
    color: greenyellow;
    border: 1px groove gray;
  }
}



